/*header,*/
/*main,*/
/*footer {*/
/*  border: 2px solid red;*/
/*}*/

/*section,*/
/*p,*/
/*nav,*/
/*li,*/
/*form,*/
/*article {*/
/*  border: 1px solid green;*/
/*}*/

body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  background-color: black;
  height: 60px;
}

.header-nav {
  width: 100%;
}

.nav-ul {
  display: flex;
  justify-content: space-evenly;
}

.nav-ul li {
  color: grey;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

.main-content {
  margin-left: 4%;
  width: 92%;
  display: flex;
}

.aside-about-archive {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.aside-about-archive h2 {
  font-style: oblique;
}

.main-about {
  margin: 20px;
  background-color: #f0f0f0;
  padding: 15px;
}

.main-archive {
  margin: 20px;
  padding: 15px;
}

.main-archive a {
  color: mediumpurple;
  text-decoration: underline;
}

.main-article {
  width: 70%;
  position: relative;
}

.article-2 {
  position: absolute;
  top: 0;
  right: 0;
}

.item {
  width: 48%;
  margin: 15px;
  padding: 15px;
  border: 2px solid #f0f0f0;
}

.main-article img {
  width: 100%;
  height: 100%;
}

.main-article a {
  display: block;
  color: dodgerblue;
  margin: 20px 0;
}

.aside-sign-in {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-sign-in {
  background-color: #f0f0f0;
  padding: 15px;
  border-radius: 10px;
  margin: 10px;
}

.form-input {
  display: block;
  height: 40px;
  width: 100%;
  border-radius: 3px;
  border-width: 1px;
  border-color: #f0f0f0;
}

.form-checkbox {
  margin: 10px;
}

.form-submit {
  display: block;
  margin: 10px auto;
  width: 100%;
  height: 40px;
  background-color: dodgerblue;
  color: white;
  border-radius: 5px;
  font-size: 20px;
}

.footer {
  background-color: #f0f0f0;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: darkgray;
}

p {
  margin: 0;
  padding: 0;
}

.footer-a {
  color: mediumpurple;
  text-decoration: underline;
}
